<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
    <header class="masthead mb-auto">
        
        <div class="inner">
            <div class="d-flex flex-wrap bd-highlight ">
                <div class="p-2 bd-highlight"><span class="badge badge-light">Platform:</span>
                    {{platform}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">Architecture:</span>
                    {{architecture}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">Machine:</span>{{machine}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">Node:</span>{{node}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">System:</span>{{system}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">Release:</span>{{release}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">Version:</span>{{version}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">FQDN:</span>{{fqdn}}
                </div>
                <div class="p-2 bd-highlight"><span class="badge badge-light">Jre version:</span>
                    {% if jre %}
                    <pre>{{jre}}</pre>
                    {% endif %}
                </div>
                {% if packages %}
                <div class="p-2 bd-highlight"><span class="badge badge-light">Packages:</span>

                    <pre>{{packages.decode()}}</pre>

                </div>
                {% endif %}
            </div>
        </div>
    </header>

    <main role="main" class="inner cover container">
        <div class="d-flex justify-content-center">
            <div id="time-shift" class="btn-group bd-highlight" role="group"
                 aria-label="Basic example">
                <button type="button" class="btn btn-primary active"
                        data-shift-hours="1">1 hour
                </button>
                <button type="button" class="btn btn-primary"
                        data-shift-hours="3">3 hours
                </button>
                <button type="button" class="btn btn-primary"
                        data-shift-hours="6">6 hours
                </button>
                <button type="button" class="btn btn-primary"
                        data-shift-hours="12">12 hours
                </button>
                <button type="button" class="btn btn-primary"
                        data-shift-days="1">1 day
                </button>
                <button type="button" class="btn btn-primary"
                        data-shift-days="2">2 day
                </button>
                <button type="button" class="btn btn-primary"
                        data-shift-days="4">4 day
                </button>
                <button type="button" class="btn btn-primary"
                        data-shift-days="7">1 week
                </button>
            </div>

        </div>
        <div class="d-flex flex-wrap flex-column bd-highlight">
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight"
                     id="per_cpu_container"
                     data-calc-min-max="1"
                     data-label-prefix="CPU "
                     data-url="/per_cpu"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div id="cpu_container"
                     data-calc-min-max="1"
                     data-label-prefix="CPU "
                     data-url="/cpu"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight" id="physical_mem_container"
                     data-label-prefix=""
                     data-url="/physical_mem"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight" id="swap_mem_container"
                     data-label-prefix=""
                     data-url="/swap_mem"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight" id="disk_io_container"
                     data-label-prefix=""
                     data-url="/disk_io"
                     data-hidden-on-start="read_count,write_count,read_time,write_time,busy_time"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight" id="tomcat_utilization_container"
                     data-label-prefix=""
                     data-url="/tomcat_utilization"
                     data-hidden-on-start="read_count,write_count,read_time,write_time,busy_time"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight" id="tomcat_other_container"
                     data-label-prefix=""
                     data-url="/tomcat_other_utilization"
                     data-hidden-on-start="read_count,write_count,read_time,write_time,busy_time"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight" id="imap_utilization_container"
                     data-label-prefix=""
                     data-url="/imap_utilization"
                     data-hidden-on-start="read_count,write_count,read_time,write_time,busy_time"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="p-2 flex-fill bd-highlight border">
                <div class="bd-highlight" id="imap_other_container"
                     data-label-prefix=""
                     data-url="/imap_other_utilization"
                     data-hidden-on-start="read_count,write_count,read_time,write_time,busy_time"
                     style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>

        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">

        </div>
    </footer>
</div>