<script defer src="{{static_base_url}}/static/vendors/highcharts/code/highcharts.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/highcharts-more.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/modules/boost.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/modules/exporting.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/modules/no-data-to-display.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/modules/export-data.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/modules/full-screen.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/modules/accessibility.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/highcharts/code/themes/dark-unica.src.js" crossorigin="anonymous"></script>

<script defer src="{{static_base_url}}/static/vendors/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/popper.min.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/bootstrap-4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/malihu-custom-scrollbar/js/minified/jquery.mCustomScrollbar.min.js" crossorigin="anonymous"></script>
<script defer src="{{static_base_url}}/static/vendors/malihu-custom-scrollbar/js/minified/jquery.mousewheel.min.js" crossorigin="anonymous"></script>

<script defer src="{{static_base_url}}/static/main.js" crossorigin="anonymous"></script>
