<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <!-- sidebar-brand -->
        <div class="sidebar-item sidebar-brand">
            <a href="#" class="logo">&nbsp; </a>
        </div>

        <!-- sidebar-menu  -->
        <div class=" sidebar-item sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown category" data-clear="true">
                    <a href="#dashboard" data-clear="false">
                        <i class="fa fa-tachometer-alt"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>

                            {% if 'cpu' in system_stats %}
                            <li><a href="#cpu"><i class="fa fa-microchip"></i>CPU</a></li>
                            {% endif %}
                            {% if 'per_cpu' in system_stats %}
                            <li><a href="#per_cpu"><i class="fa fa-microchip"></i>Per-CPU</a></li>
                            {% endif %}
                            {% if 'disk_io' in system_stats %}
                            <li><a href="#diskio"><i class="fa fa-hdd"></i>Disk IO (bytes)</a></li>
                            <li><a href="#diskio_other"><i class="fa fa-hdd"></i>Disk IO (counts)</a></li>
                            {% endif %}
                            {% if 'memory' in system_stats %}
                            <li><a href="#memory"><i class="fa fa-memory"></i>Memory</a></li>
                            <li><a href="#swap_memory"><i class="fa fa-memory"></i>Swap Memory</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                {% if 'tomcat' in system_stats %}
                <li class="sidebar-dropdown category" data-clear="true">
                    <a href="#tomcat">
                        <i class="fa fa-cat"></i>
                        <span class="menu-text">Tomcat usage</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li><a href="#tomcat_cpu"><i class="fa fa-microchip"></i>CPU</a></li>
                            <li><a href="#tomcat_diskio"><i class="fa fa-hdd"></i>Disk IO</a></li>
                            <li><a href="#tomcat_memory"><i class="fa fa-memory"></i>Memory</a></li>
                            <li><a href="#tomcat_sockets"><i class="fas fa-ethernet"></i>Sockets</a></li>
                            <li><a href="#tomcat_other"><i class="fab fa-dev"></i>Threads and File descriptors</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                <script lang="text/javascript">

                </script>
                {% for proc in processes %}
                    <li class="sidebar-dropdown category" data-clear="true">
                        <a href="#{{proc.name}}">
                            <i class="{{proc.icon}}"></i>
                            <span class="menu-text">{{proc.title}}</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li><a href="#{{proc.name}}_cpu"><i class="fa fa-microchip"></i>CPU</a></li>
                                <li><a href="#{{proc.name}}_diskio"><i class="fa fa-hdd"></i>Disk IO</a></li>
                                <li><a href="#{{proc.name}}_memory"><i class="fa fa-memory"></i>Memory</a></li>
                                <li><a href="#{{proc.name}}_sockets"><i class="fas fa-ethernet"></i>Sockets</a></li>
                                <li><a href="#{{proc.name}}_other"><i class="fab fa-dev"></i> Threads and File descriptors</a></li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                <li class="header-menu">
                    <span>Extra</span>
                </li>
                <li class="category">
                    <a data-clear="true" href="#tomcat_logs">
                        <i class="fas fa-file-alt"></i><i class="fa fa-cat closer-to-first"></i>
                        <span class="menu-text">Web logs (Scalix)</span>
                        <span class="badge badge-pill badge-primary">Coming Soon</span>
                    </a>
                </li>
                <li class="category">
                    <a data-clear="true" href="#scalix_server_logs">
                        <i class="fa fa-file-alt"></i><i class="fas fa-at closer-to-first"></i>
                        <span class="menu-text">Scalix Server logs</span>
                        <span class="badge badge-pill badge-primary">Coming Soon</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-footer  -->
    <div class="sidebar-footer">
        <!--<div class="dropdown">

            <a href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <div class="dropdown-menu notifications"
                 aria-labelledby="dropdownMenuMessage">
                <div class="notifications-header">
                    <i class="fa fa-bell"></i>
                    Notifications
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-check text-success border border-success"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor
                                sit amet consectetur adipisicing
                                elit. In totam explicabo
                            </div>
                            <div class="notification-time">
                                6 minutes ago
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation text-info border border-info"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor
                                sit amet consectetur adipisicing
                                elit. In totam explicabo
                            </div>
                            <div class="notification-time">
                                Today
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor
                                sit amet consectetur adipisicing
                                elit. In totam explicabo
                            </div>
                            <div class="notification-time">
                                Yesterday
                            </div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all
                    notifications</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <div class="dropdown-menu messages"
                 aria-labelledby="dropdownMenuMessage">
                <div class="messages-header">
                    <i class="fa fa-envelope"></i>
                    Messages
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="img/user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit
                                amet consectetur adipisicing
                                elit. In totam explicabo
                            </div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="img/user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit
                                amet consectetur adipisicing
                                elit. In totam explicabo
                            </div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="img/user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit
                                amet consectetur adipisicing
                                elit. In totam explicabo
                            </div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all
                    messages</a>

            </div>
        </div>
        <div class="dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">Help</a>
                <a class="dropdown-item" href="#">Setting</a>
            </div>
        </div>-->
        <div class="pinned-footer">
            <a href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </div>
    </div>
</nav>