<link href="{{static_base_url}}/static/vendors/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
<link href="{{static_base_url}}/static/vendors/bootstrap-4.3.1/css/bootstrap-grid.min.css" rel="stylesheet" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{static_base_url}}/static/vendors/fontawesome-5.8.1/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_base_url}}/static/vendors/pro-sidebar/src/css/main.css" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_base_url}}/static/vendors/pro-sidebar/src/css/sidebar-themes.css" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_base_url}}/static/vendors/malihu-custom-scrollbar/jquery.mCustomScrollbar.min.css" crossorigin="anonymous">
<link href="{{static_base_url}}/static/cover.css" rel="stylesheet" crossorigin="anonymous"/>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<link rel="shortcut icon" href="{{static_base_url}}/static/img/favicon.ico" />