<div class="input-group ml-auto mr-auto" style="width: 50%; display: none;">
  <div class="input-group-prepend">
    <span class="input-group-text">From To dates</span>
  </div>
  <input type="date" aria-label="From date" class="form-control">
  <input type="date" aria-label="To date" class="form-control">
</div>
<br>
<div id="time-shift" class="btn-group bd-highlight" role="group"
     aria-label="Basic example">
    <button type="button" class="btn btn-primary active"
            data-shift-hours="1">1 hour
    </button>
    <button type="button" class="btn btn-primary"
            data-shift-hours="3">3 hours
    </button>
    <button type="button" class="btn btn-primary"
            data-shift-hours="6">6 hours
    </button>
    <button type="button" class="btn btn-primary"
            data-shift-hours="12">12 hours
    </button>
    <button type="button" class="btn btn-primary"
            data-shift-days="1">1 day
    </button>
    <button type="button" class="btn btn-primary"
            data-shift-days="2">2 day
    </button>
    <button type="button" class="btn btn-primary"
            data-shift-days="4">4 day
    </button>
    <button type="button" class="btn btn-primary"
            data-shift-days="7">1 week
    </button>
</div>